* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-box {
    background-color: rgb(40, 40, 40);
    width: 22vw;
    border-radius: 1em;
    /* positioning relative for animated border */
    position: relative;
}

.container {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
    border-radius: 1em;
    margin: 0.3em;
    font-family: "Baloo 2", serif;
}

/* creating animated border */
@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.container-box::after, .container-box::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle), #ff9900, #15ff00, #00ffd5, #ff9900);
    background-image: conic-gradient(from var(--angle), transparent, #ff9900, #15ff00, #00ffd5);
    border-radius: 1em;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 0.1em;
    animation: 6s spin linear infinite;
}

@keyframes spin {
    from {
        --angle: 0deg 
    } to {
        --angle: 360deg
    }
}

.container-box::before {
    filter: blur(0.5rem);
    opacity: 0.7;
}

img {
    margin-top: 1.5em;
    width: 10vw;
    border-radius: 60%;
}

.basic-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name {
    font-size: 1.8em;
}

.location {
    font-size: 1.2em;
    color: chartreuse;
}

.about-container {
    color: rgb(157, 157, 157)
}

.links-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.links-container a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 2.5em;
    background-color: rgb(75, 75, 75);
    border-radius: 0.3em;
    list-style-type: none;
    margin: 0.2em;
}

.links-container a {
    color: white;
    text-decoration: none;
}